<mat-horizontal-stepper
  id="stepper"
  [disableRipple]="false"
  [ngClass]="'full-width'"
  (selectionChange)="changeStep($event)">


    <mat-step [stepControl]="formList[i]"
              *ngFor="let q of questions; let i = index"
              [hasError]="formList[i].errors"
              [completed]="formList[i].disabled"
    >

        <ng-template matStepLabel>
            <div [ngClass]="{'mr-label-content completed': formList[i].disabled && !formList[i].errors}"></div>
        </ng-template>

        <form [formGroup]="formList[i]" (ngSubmit)="submitAnswer()">

          <h3>{{q.question}}</h3>

            <div  *ngFor="let a of q.answers; let IndexAnswer = index">
                <mat-checkbox *ngIf="q.type === 'checkbox'" [formControlName]="q.type + a.id">
                    {{a.answer}}
                </mat-checkbox>
            </div>

            <mat-radio-group aria-label="Select an option" [formControlName]="q.type + q.id" *ngIf="q.type === 'radio'" >
                <div *ngFor="let a of q.answers; let IndexAnswer = index">
                    <mat-radio-button
                            [value]="a.id"
                            *ngIf="q.type === 'radio' || q.type === 'radio-left-image' " >
                        {{a.answer}}
                    </mat-radio-button>
                </div>
            </mat-radio-group>

            <div >
                <div *ngIf="currentAnswers">
                    <h4>Answer(s):</h4>
                    <em>
                      <p [ngClass]="{'incorrect-answer': formList[i].errors}"
                      *ngFor="let a of currentAnswers;">{{q.type === 'radio-left-image' ? a.caption : a.answer}}
                    </p>
                    </em>
                </div>
                <div *ngIf="formList[i].errors && rightAnswers">
                    <h4>Right answer(s):</h4>
                  <p *ngFor="let a of rightAnswers;">
                    <em>{{q.type === 'radio-left-image' ? a.caption : a.answer}}</em>
                  </p>
                </div>
            </div>

            <div>
                <button type="button" *ngIf="stepper.selectedIndex > 0" mat-button matStepperPrevious>Back</button>
                <button mat-button type="submit" [disabled]="formList[i].disabled">Submit</button>
                <button type="button" mat-button matStepperNext >Next</button>
            </div>
        </form>
    </mat-step>

</mat-horizontal-stepper>
