::ng-deep .mat-stepper-horizontal-line {
  display: none
}

::ng-deep mat-step-header {
  width: 100%;
  background: #e6e6e6;
  border-right: 1px solid #bfbfbf;
}

::ng-deep .mat-horizontal-content-container form {
  padding: 20px 10px 0 20px;
}

.mat-radio-button {
  margin-bottom: 10px;
}

::ng-deep mat-step-header:last-child {
  border-right: none;
}

::ng-deep mat-step-header[ng-reflect-state="error"] {
  background-color: #ffaeae;
}

::ng-deep mat-step-header[ng-reflect-state="done"] {
  background-color: #a1cc91;
  color: #ffff;
}

::ng-deep .mat-horizontal-stepper-header {
  display: inline-block !important;
  height: auto !important;
  padding: 0 !important;
}

::ng-deep .mat-step-label {
  display: block !important;
  height: 30px;
}

::ng-deep .mat-step-icon {
  display: none !important;
}

.completed {
  width: 100%;
  background-color: #a1cc91;
  height: 100%;
}
.completed:last-child {
  border-right: none;
}

.incorrect-answer {
  text-decoration: line-through;
}
