<div class="toolbar" role="banner">
    <button class="mr-menu-btn" mat-icon-button (click)="opened = !opened">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Questions <span *ngIf="stepper">{{stepper.selectedIndex + 1}}</span></span>
    <div class="spacer"></div>
</div>

<mat-sidenav-container class="container" >

    <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
        <mat-list *ngFor="let q of questions; let index = index;">
            <a
              class="nav-link"
              [ngClass]="{'active': stepper && stepper.selectedIndex == index}"
              matLine href="javascript:void(0)"
              (click)="stepper.selectedIndex = index">
              {{q.question}}
            </a>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content >
        <div class="flex-container">

            <div class="flex-grow-5">
                <mr-question-content
                        *ngIf="isLoaded && stepper"
                        [formList]="formList"
                        [questions]="questions"
                        [stepper]="stepper">
                </mr-question-content>
            </div>

            <div class="flex-grow-1">
                <mr-question-stepper
                        *ngIf="isLoaded"
                        (setStepper)="setStepper($event)"
                        [formList]="formList"
                        [userAnswer]="userAnswer"
                        [user]="user"
                        [questions]="questions">
                </mr-question-stepper>
            </div>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>


