/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row-grid-80 {
  margin: 40px auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
}

.row-grid-50 {
  margin: 40px auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.flex-container {
  display: flex;
}

.flex-grow-5 {
  flex-grow: 5
}

.flex-grow-1 {
  flex-grow: 1
}
