<mat-card class="card-content" *ngIf="stepper">

    <mat-card-header>
        <mat-card-title >{{currentQuestion.question}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div  *ngIf="currentQuestion.type === 'radio-left-image'">
          <form [formGroup]="form" >
            <mat-radio-group class="row-grid-50 text-center " aria-label="Select an option" [formControlName]="currentQuestion.type + currentQuestion.id" >
              <div  *ngFor="let a of currentQuestion.answers; let IndexAnswer = index">
               <label for="radio{{currentQuestion.type+a.id}}-input">
                 <img [src]="a.answer" class="pointer full-width">
               </label>
                <mat-radio-button
                  id="radio{{currentQuestion.type+a.id}}"
                  [value]="a.id">
                  <span *ngIf="a.caption">{{a.caption}}</span>
                </mat-radio-button>
              </div>
            </mat-radio-group>

          </form>
            <div *ngIf="currentQuestion.content.type === 'image'" >
                <img [src]="v" *ngFor="let v of currentQuestion.content.value">
            </div>
        </div>

        <div *ngIf="!loop(currentQuestion.content.value)" class="row-grid-1">
          <div *ngIf="currentQuestion.content.type === 'image'">
                <img [src]="currentQuestion.content.value" class="full-width">
            </div>
        </div>

      <div *ngIf="!loop(currentQuestion.content.value)" class="row-grid-1">
        <div *ngIf="currentQuestion.content.type === 'video'">
          <iframe
                  [src]="currentQuestion.content.value | safe"
                  allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </mat-card-content>

</mat-card>



